.modal-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  #myUL li a {
    border: none; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 14px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }

  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }
  mat-form-field {
    margin-right: 12px;
  }

  .box_row_date {
    display: flex;
    margin-right: -30px;
  }
  .form_date_picker {
    background: transparent;
    border: none;
    font-size: 12px;
    font-family: 'ProductSans400' !important;
    margin-top: -4px;
    color: black !important;
    padding-right: 36px;
    cursor: pointer;
  }
  .form_date_picker::placeholder{
    color: black !important;
  }
  .form_date_picker:focus
  {
    outline: none;
    background-color: transparent;
    box-shadow: none;
  }
  img.img_arrow_date {
    position: absolute;
    margin-top: -21px;
    right: 100px;
  }
  .file-img{
    width: 96% !important;
  }

.plus-icon{
  width: 25%;
  transition: .3s;
}
/* .plus-icon:hover{
  width: 25%;
  transition: .3s;
  transform: rotate(90deg);
} */
.drop-menu-update{
  margin-left: -116px !important;
}
.box_list_subject
{
  padding-top: 40px !important;
}
