
@font-face
{
    font-family: 'Product Sans';
    src: url(../fonts/ProductSansRegular.ttf);
}

@font-face
{
    font-family: ProductSans400;
    src: url(../fonts/ProductSans400.ttf);
}
@font-face
{
    font-family: ProductSansBold;
    src: url(../fonts/ProductSansBold700.ttf);
}
@font-face
{
    font-family: ProductSansItalic400;
    src: url(../fonts/ProductSansItalic400.ttf);
}
.ProductSans400
{
    font-family: ProductSans400;
}

.ProductSansBold
{
    font-family: ProductSansBold;
}

.font-product-bold
{
    font-family: product-sans-bold;
}

button:focus
{
    outline: none;
}
.height_custom
{
    height: 65px;
}

input.search_input {
    border: 1px solid var(--unnamed-color-2b50ed);
    border: 1px solid #2b50ed17;
    border-radius: 7px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 15px;
    width: 300px;
    margin-top: 11px;
}

.search_input::placeholder{
    font-size: 10px !important;
}
.search_input{
    background-image: url('../../../../assets/images/iconfinder_icon-111-search_314807.png') !important;
    background-repeat: no-repeat !important;
    background-position: 10px 10px !important;
    background-size: 20px 20px !important;
    padding-left: 40px !important;

}
/* .navbar-brand img{
    width: 60%;
} */
.form-sear{
    margin-right: 35px;
}


input.search_input:focus
{
    outline: none;
}

.line_noti {
    width: 40px;
    height: 40px;
    background: #F7F9FC;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.body_al {
    background: #F7F9FC;

}

img.img_header {
    margin-left: 40px;
}

.line_header {
    width: 1px;
    height: 40px;
    background: #a5a9ad;
    margin-top: 4px;
}

.box_account {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 21px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
}
.box_account::-webkit-scrollbar{
    display: none;
}

button.btn_account {
    background: transparent linear-gradient(284deg, #2B50ED 0%, #6B85F2 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 85%;
    height: 46px;
    border: none;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: auto;
    text-align: center;
    font-size: 14px;

}

button.btn_account a {
    color: #fff;
    font-family: Productsansbold;
    border: none;
    text-decoration: none;
}


button.btn_subscribe {
    background: transparent;
    border: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

button.btn_subscribe a {
    color: #000;
    font-family: Productsansbold;
    text-decoration: none;
}

p.para_box {
    text-align: center;
    color: #979797;
    font-size: 18px;
    font-family: Productsans400;
    padding-top: 30px;
}
img.img_big {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    height: 150px;
}

img.img_large {
    width: 120px;
    height: 120px;
    border-radius:50%;
}

.btn_same {
    border-radius: 8px;
    height: 30px;
    margin-top: 16px;
    font-family: 'Product Sans';
    background: transparent;
    border: none;
    font-size: 12px;
    padding: 0px 33px;
    transition: .2s;
}
.btn_same:hover{
    transform: scale(1.10);
    transition: .2s;
}

button.btn_change {
    background: transparent linear-gradient(284deg, #2B50ED 0%, #6B85F2 100%) 0% 0% no-repeat padding-box;
    color: #fff;
}
button.btn_change:hover {
    background: white;
    color: #2B50ED ;
    border: 1px solid #2B50ED;
}

button.btn_remove {
    background: #F7F9FC 0% 0% no-repeat padding-box;

}
button.btn_remove:hover{
    background: white;
    color: #2B50ED ;
    border: 1px solid #2B50ED;

}

label.lab_first {
    color: #979797;
    letter-spacing: 0px;
    font-family: Productsans400;
    display: block;
    font-size: 14px;
}

input.form_profile {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001A;
    border-radius: 10px;
    height: 40px;
    border: none;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px !important;
    font-family: 'Product Sans';
}

button.edit_btn {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    background: transparent;
    font-family: 'ProductSansBold';
    border: none;
    margin-right: 15px;
    /* float: right; */
}
button.edit_btn.bg-edit {
    background: transparent linear-gradient(284deg, #2B50ED 0%, #6B85F2 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: #fff;
    font-family: 'Product Sans';
    font-size: 14px;
    width: 115px;
}
button.edit_btn.bg-edit-white {
    background: #F7F9FC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-family: 'Product Sans';
    font-size: 14px;
    width: 115px;
}
input.form_profile:focus
{
    outline: none;
}

h3.head_avtar {
    letter-spacing: 0px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Product Sans';
    font-size: 20px;
}

h3.head_personal {
    letter-spacing: 0px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 15px;
    font-family: 'Product Sans';
    font-size: 18px;
}
@media(min-width:1100px)
{
.box_account {
    max-width: 100%;
    margin-right: 11px;
}
label.lab_first_edit {
    font-size: 18px;
    font-family: productsansbold;
    letter-spacing: 0px;
    color: #000000;
}
}

img.img_header_p {
  height: 43px;
border-radius: 50%;
width: 43px;
}

i.font-angle {
    font-size: 26px !important;
    color: #000;
    margin-left: 5px;
    position: relative;
    top: 5px;
}

input.radio_mvp {
    width: 20px;
    height: 20px;
}


img.social_icon {
    height: 40px;
    margin-top: -7px;
}

ul.under_list_icon {
    margin: 0;
    padding: 0;
    margin-left: 14px;
    width:100%;
}

ul.under_list_icon li {
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 12px;
    margin-top: 25px;
}

p.sigin {
    font-size: 16px;
    font-family: productsansbold;

}

h3.head_linked_account {
    font-size: 22px;
    font-family: Productsansbold;
}

p.para_linked {
    color: #979797;
    line-height: 1.3;
    font-family: productsans400;
    font-size: 16px;
}

button.btn_connect {
    background: transparent linear-gradient(284deg, #2B50ED 0%, #6B85F2 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 12px;
    color: #fff;
    font-family: 'Product Sans';
    height: 38px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    margin-left: 15px;
}

@media(min-width: 768px) and (max-width:1024px)
{
    img.img_large
    {
        width: 115px;
        height: 115px;
    }
    img.img_header
    {
        margin-left: 15px;
    }
}

@media(max-width:767px)
{
    img.img_header
    {
        margin-left: 5px;
    }
    .height_custom
    {
        height: auto;
    }
}

.cusom_flex_profile {
    display: flex;
    justify-content: space-between;
}

button.btn_pro {
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 10px;
    height: 30px;
    color: #fff;
    font-family: 'Product Sans';
    padding-right: 40px;
    margin-top: 7px;
    font-size: 12px;
    padding-left: 40px;
    border: none;
}

label.lab_gender {
    line-height: 0;
    font-size: 13px;
    font-family: 'Product Sans';
    position: relative;
    top: -4px;
    margin-right: 40px;
    margin-left: 10px;
}
@media(min-width:768px)
{
.custom_profile_mvp {
    height: 600px;
}
}

@media(max-width: 767px)
{
    img.img_big
    {
     display: none;
     }
}

@media (min-width: 768px)
{
.navbar-expand-md .navbar-nav .dropdown-menu {
    left: -150px;
    position: absolute;
}
}

.dropdown-menu.custom_drop.show {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000017;
    border: none;
    border-radius: 15px;
    left: -0px;
    transition: .2s;
    padding: 10px;
    margin-left: -150px;

}

.dropdown-menu.custom_drop.show a {
    color: #000;
    font-family: 'Product Sans';
    padding-left: 0px;
    margin-bottom: 5px;
    font-size: 12px;
}

.dropdown-menu.custom_drop.show img {
  margin-right: 10px;
  height: 35px;
  border-radius: 50%;
  width: 35px;
}
img.avtar_img {
    height: 40px;
}

p.para_premium {
    line-height: 2;
    color: #979797;
    font-size: 11px;
}

h4.head_member {
    font-size: 15px;
    font-family: ProductSansBold;
    font-weight: 600;
}

@media(max-width:767px)
{
    button.btn_subscribe
    {
        display: initial;
    }
    button.btn_account
    {

        width: initial;
        padding-left: 20px;
        padding-right: 20px;
    }
    .line_header
    {
        display: none;
    }
}

label.icon_set {

    border: 1px solid #CCCCCC;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    margin-left: 10px;
}

label.icon_set.color_icon1 {
    background: transparent linear-gradient(132deg, #6B85F2 0%, #2B50ED 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    border: none;
}

img.img_avtar_1 {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top:15px;
    transition: .2s;
    cursor: pointer;
}
img.img_avtar_1:hover{
    transform: scale(1.05);
    transition: .2s;
}
.redColor{
    color: #FF1818;
    font-size: 10px;
    font-family: 'Product Sans';
}

section.box_section_dash {
    background: #F7F9FC;
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h3.head_quick {
    font-size: 19px;
    font-family: 'ProductSansbold';
    padding-left: 0;
    margin-left: -5px;
}

ul.under_list {
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

ul.under_list li {
    list-style: none;
    margin-left: 10px;
    display: inline-block;
}

.box_list_subject {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding-top: 40px;
    width: 135px;
    height: 170px;
    margin-top: 5px;
    box-shadow: 0px 0px 5px lightgrey;
    transition: .2s;
    cursor: pointer;
}
.box_list_subject:hover {
    box-shadow: 0px 0px 5px grey;
}


.box_list_subject img {
    margin: 0 auto;
    display: block;
    cursor: pointer;
    width: 40%;
}

.box_list_subject h1 {
    font-size: 12px;
    text-align: center;
    font-family: 'ProductSansBold';
    padding-top: 7px;
}

.box_list_subject p {
    letter-spacing: 0px;
    color: grey;
    font-family: 'ProductSans400';
    text-align: center;
    line-height: 0.5;
    font-size: 10px;
}

.box-bottom {
    position: absolute;
    bottom: 4px;
    border-top: 2px solid #cccccc80;
    width: 135px;
    padding-top: 9px;
}

.box-bottom h3 {
    font-size: 12px;
    padding-left: 14px;
    font-family: 'ProductSansBold';
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 90%;
    text-transform: capitalize;
}

.box-bottom p {
    padding-left: 13px;
    text-align: left;
    font-size: 10px;
    font-family: 'Product Sans';
    font-weight: normal;
    margin-bottom: 7px;
}

section.section_file {
    background: #ffffff;
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.img_elipsis:hover {
    transform: scale(1.10);
    transition: .1s;
}
.box_custom_notes {
    width: 100%;
}



section.section_file .box_list_subject {
    border: 1px solid #989898;
    padding-top: 0;
    overflow: hidden;
    /* margin-top: 25px; */
}

.padding_custom_notes
{
    padding-top: 55px !important;
}

input.modal_form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #0000001A;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    border: none;
    padding-left: 15px;
    font-size: 14px;
    font-family: 'ProductSans400';
}
input.modal_form::placeholder{
    font-family: 'Product Sans';
    color: lightgrey;
}

h5.modal-title_dash {
    font-size: 21px;
    font-family: 'ProductSansBold';
    padding-left: 20px;
    padding-top: 10px;
}

p.para_modal_notes {
    color: #979797;
    padding-left: 20px;
    font-family: 'ProductSans400';
    margin-bottom: 0;
}

input.modal_form:focus
{
    outline: none;
}

button.btn_crete {
    background: transparent linear-gradient(285deg, #2B50ED 0%, #6B85F2 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    height: 40px;
    color: #fff;
    margin-left: 18px;
    border: none;
    padding-right: 25px;
    padding-left: 26px;
    font-family: 'Product Sans';
    font-size: 13px;
    border: 1px solid #2B50ED ;
    transition: .2s;
    cursor: pointer;
}
button.btn_crete:hover {
    border: 1px solid #2B50ED  !important;
    background: white;
    border-radius: 10px;
    height: 40px;
    color: #2B50ED;
    margin-left: 18px;
    border: none;
    padding-right: 25px;
    padding-left: 26px;
    font-family: 'Product Sans';
    font-size: 13px;
    transition: .2s;
}

button.btn_leave_it {
    background: #B9B9B9;
    border-radius: 10px;
    height: 40px;
    color: #fff;
    margin-left: 18px;
    border: none;
    padding-right: 25px;
    padding-left: 26px;
    font-family: 'Product Sans';
    font-size: 13px;
}
label.lab_note {
    font-size: 15px;
    font-family: 'ProductSans400';
    color: #000000;
}

button.btn_add_new {
    background: transparent;
    border: none;
    float: right;
    margin-right: 15px;
    background: transparent linear-gradient(285deg, #2B50ED 0%, #6B85F2 100%) 0% 0% no-repeat padding-box;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Product Sans';
    font-size: 13px;
    color: #fff;
    border-radius: 11px;
    transition: .2s;
    border: 1px solid #2B50ED;

}
button.btn_add_new:hover {
    background: white !important;
    color:#2B50ED ;
    border: 1px solid #2B50ED;
    transition: .2s;
}

img.img_search {
    position: absolute;
    left: 32px;
    margin-top: 12px;
    width: 17px;
}

.p-l-dash
{
    padding-left: 53px;
}

.notes_flex_grow
{
    flex-grow: revert !important;
    padding: 0;
    margin: 10px;
}


.all_box_p {
    display: flex;
    justify-content: space-between;
}



.box_drop {
    display: flex;
    font-size: 12px;
    font-family: 'Product Sans';
    margin-left: -7px;
}

.dropdown.label_dropdown .dropdown-item {
    display: flex;
    width: 100%;
    margin-bottom: 3px;
}

.box_drop img {
    margin-right: 15px;
}


.dropdown-menu.show {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000017;
    border-radius: 15px;
    border: none;
    margin-left: -160px;

}

button.button_dash_n {
    background: transparent;
    border: none;
    margin-top: 4px;
    margin-left: -45px;
}

section.section_file.box_section_dash {
    background: #F7F9FC;
}

.row_subject_notes {
    display: flex;
    justify-content: space-between;
}

img.img_subject_e {
    max-width: 100%;
    height: 20px;
    margin-top: 4px;
    cursor: pointer;
}

.notes_revert {
    flex-grow: revert;
}

.box_custom_aling {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000001A;
    border: 1px solid #E1E1E1;
    max-width: 1000px;
    height: 1300px;
    margin: 0px auto;
}
.bg_color
{
    background-color: #F7F9FC;
}

.resize_one {

    border-right: 1px dashed #B9B9B9;
    border-bottom: 1px dashed #B9B9B9;

    padding: 20px;
    width: 300px;
    resize: both;
    overflow: auto;
    height: 1000px;
}

.resize_two {

    border-right: 1px dashed #B9B9B9;
    border-bottom: 1px dashed #B9B9B9;
    padding: 20px;
    width: 700px;
    resize: both;
    overflow: auto;
    height: 1000px;
}

.row_flex_writting {
    display: flex;
    margin-left: 5px;
}

ul.under_list_notes {
    margin: 0;
    margin-left: 36px;
    padding: 0;
    position: sticky;
    margin-top: 5px;
    /* top: 100px; */
}
a.navbar-brand img {
    margin-left: 59px;
    margin-right: 23px;
    border-right: 1px solid #ccc;
    padding-right: 27px;
    width: 47%;
}

ul.under_list_notes li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 12px;
}

ul.under_list_notes li a {
    font-family: productsans400;
    font-size: 17px;
    color: #000;
}

.coin_notes_writting {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000001A;
    border: 1px solid #E1E1E1;
    padding-left: 9px;
    padding-right: 8px;
    margin-top: 35px;
}

.angular-editor{
    position: relative;
    background: #f7f9fc !important;
}

.angular-editor-wrapper {
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}
.angular-editor-textarea
{
    min-height: 1000px !important;
}

.angular-editor-textarea:focus {

    outline: none !important;
}

img.img_arrow {
    margin-left: 8px;
    width: 14px;
}

button.btn_headershare {
    background: transparent linear-gradient(286deg, #2B50ED 0%, #6B85F2 100%) 0% 0% no-repeat padding-box;
    border-radius: 6px;
    color: #fff;
    font-family: 'ProductSansbold';
    height: 40px;
    border: none;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.angular-editor-wrapper #editor2 {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
  }
  .editor img {
    max-width: 100%;
    height: 50px;
}




.img_elipsis {
    transform: rotate(90deg);
    margin-top: 17px !important;
    position: relative;
    right: -16px;
    transition: .1s;
}


.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 31em !important;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 16px !important;
    background: #fff;
    font-family: 'Product Sans' !important;
    font-size: 12px !important;
}

.swal2-styled.swal2-confirm{
    border: 0;
    border-radius: .25em;
    background: initial;
    background: transparent linear-gradient(286deg, #2B50ED 0%, #6B85F2 100%) 0% 0% no-repeat padding-box !important;
    color: #fff;
    font-size: 1.0625em;
    width: 96px !important;
}
.alert-{
    font-size: 10px;
    color: red;
    font-family: 'Product Sans';
}

.modal-title{
    font-family: 'Product Sans' !important;
}

.modal-close{
    background-image: url(../images/31226.png);
    background-position: center;
    background-size: contain;
    background-size: 15px;
    background-repeat: no-repeat;
    color: transparent;
    cursor: pointer;
    transition: .3s;
    background-color: transparent;
    border: none;
    outline: none;
}
.modal-close:hover{
    transform: rotate(90deg);
    transition: .3s;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: transparent !important;
}

.plus-icon{
    width: 25% !important;
    transition: .3s;
  }
  .plus-icon:hover{
    width: 25%;
    transition: .3s;
    transform: rotate(90deg);
  }
