<div class="row">
    <div class="col-lg-4 col-md-12 bg-auth-group">
         <img src="../../../assets/images/logo.png" class="logo_header"/>
         <p class="para_bg_login">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
         </p>
    </div>

    <div class="col-lg-8 col-md-12">
        <div class="login_auth_box">
            <h2 class="ProductSansBold login_heading text-center">Reset your password?</h2>
            <p class="text-center ProductSans400 login_para">Enter your details. We'll send you an recovery mail.</p>
         

          <form class="form_login" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <input type="password" class="form_login_n" placeholder="Password" formControlName="password"  [ngClass]="{ 'has-error': submitted && formControls.password.errors }"/>
                <div  class="alert- mt-2" *ngIf=" submitted && formControls.password.errors ||changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched)">
                    <ng-container *ngIf="changePasswordForm.controls['password'].hasError('required');">
                      <span class="redColor">Password is required</span>
                    </ng-container>
                    <ng-container *ngIf="changePasswordForm.controls['password'].hasError('pattern');">
                      <span class="redColor">Please enter valid Password</span>
                    </ng-container> 
                    <ng-container *ngIf="changePasswordForm.controls['password'].hasError('minlength') || changePasswordForm.controls['password'].hasError('maxlength') ;">
                        <span class="redColor">Password must be at least 6 characters and maximum 12 characters</span>
                      </ng-container> 

                  </div>
                </div>

              <div class="form-group">
                <input type="password" class="form_login_n" placeholder="Confirm Password" formControlName="confirmPassword"/>
                <div class="alert- mt-2" *ngIf="submitted && formControls.confirmPassword.errors ||changePasswordForm.controls['confirmPassword'].invalid && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)">
                    <ng-container *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required');">
                      <span class="redColor">Confirm Password is required</span>
                    </ng-container>
                    <ng-container *ngIf="changePasswordForm.controls['confirmPassword'].hasError('pattern');">
                      <span class="redColor">Please enter valid Password</span>
                    </ng-container>                 
                  </div>

                  
            </div>
            <div *ngIf="submitted && formControls.confirmPassword.errors ||changePasswordForm.controls['confirmPassword'].invalid && (changePasswordForm.controls['confirmPassword'].dirty || changePasswordForm.controls['confirmPassword'].touched)" class="alert- mt-2">
                <!-- <div *ngIf="f.confirm_password.errors.required">Password is required.</div> -->
                <div class="redColor" *ngIf="changePasswordForm.controls['confirmPassword'].errors.confirmedValidator">  Confirm Password does not match.</div>
            </div>
            
            

            <div class="form-group">
               <input type="submit" value="Reset Password" class="form_submit"/>
            </div>
          </form>
        
        </div>

        <footer class="footer_class">
            <div class="row">
                <div class="col-lg-8 order-mobile-tab-1">
                   <ul class="footer_unders">
                       <li><a href="#">@2020</a></li>
                       <li><a href="#">Terms of use</a></li>
                       <li><a href="#">Privacy policy</a></li>
                       <li><a href="#">Trust & Safety</a></li>
                   </ul>
                </div>
               
            </div>
        </footer>
    </div>
</div>
