<html lang="en">

<head>
   <link rel="preconnect" href="https://cdnjs.cloudflare.com">
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
   <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
   <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/<version>/slimselect.min.js"></script>
   <link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/<version>/slimselect.min.css">
</head>

<body>
   <!-- <ngx-spinner></ngx-spinner> -->
   <nav class="navbar navbar-expand-md navbar-light bg-white height_custom sticky-top">

      <a class="navbar-brand">
         <img src="../../../assets/images/Group 3408.png" class="note-logo" />
      </a>
      <div class="d-flex">
         <p class="note-name">{{notesName}}</p>
      </div>

    </nav>

   <div class="" id='contentToConvert'>
      <div class="center">
         <div class="container">
            <div class="row">
               <div class="editor" >
                  <div class="d-flex" >
                     <!-- <input type="text"> -->
                      <div  class=" editor_45 " #container [style.width.px]="data.width" [style.height.px]="data.height"  >
                          <input type="text" class="note-head1" placeholder="Cue points" value={{cuesTitle}} readonly />
                          <div id="cues"
                           class="cues" (keyup)="getContent()"   [innerHTML]="content" ></div>
                           <div
                           class="resize1"></div>
                            <div
                           class="resize2">111111111111</div>

                         </div>

                     <div class="editor_ab" [style.height.px]="data.height">
                        <input type="text" class="note-head1" placeholder="Note" value={{noteTitle}} readonly />
                        <div id="notes" class="notes"   (input)="getContent()"  [innerHTML]="content1"></div>
                        <div
                  class="resize2"></div>
                      </div>

                  </div>
                  <div class="editor_3"    >
                     <input type="text" class="note-head1" placeholder="Summary" value={{summaryTitle}} readonly>
                  <div id="summary"    (keyup)="getContent()"  [innerHTML]="content2"></div>
               </div>
               </div>
            </div>
         </div>
      </div>
   </div>


</body>

</html>
